#header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #161616;

  .hold {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    >a {
      display: block;
      text-decoration: none;
      font-size: 25px;
      color: #fff;
    }
  }
}
